<div class="container small">
  <div class="row">
    <div class="col-md-8 col-lg-6 p-3 g-0 m-0">
      <div class="col-lg-8 center border g-0 p-2">
        <img src="../../../.././assets/image/photo_2023-12-16_17-51-51-removebg-preview.png" alt="" class="img-fluid"
          width="50px" height="200px">
        <h2 class="text-bold mt-2">Hey! I am <span class="text">GURMEET</span></h2>
        <h4 class="display-4 fw-bold lh-1">UI/UX <span class="text">DESIGENR</span></h4>
        <h4 class="fw-bold m-0">&,Mean Stack Devloper</h4>
        <p class="pr m-0">Proficient in Angular (versions 15,16+), with a deep understanding of components, services,
          directives, and dependency injection.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
          <a class="btn btn-primary" href="../../../layout/image/GURMEET RESUME.pdf" download>Download My CV <i
              class="fa fa-download" aria-hidden="true"></i>
          </a>
          <div class="container g-0">
            <div class="row text-center mt-5 mb-5 gx-0"
              style="box-shadow: rgba(223, 223, 223, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;">

              <h1 class="fw-bold mt-5 mb-4">INDIA'S MOST LOVED CODING COMMUNITY ❤️</h1>
              <div class="col-md-4 p-3">
                <div class="row justify-content-center">
                  <h2><i class="fa fa-users" aria-hidden="true"></i> {{ count | number }}+ k</h2>
                  <h3 class="text-center fw-bold">HAPPY EMPLOYEE</h3>
                </div>
              </div>
              <div class="col-md-4 p-3">
                <div class="row justify-content-center">
                  <h2><i class="fa fa-heart" aria-hidden="true"></i>{{count1 | number}}+ k</h2>
                  <h3 class="text-center fw-bold">MONTHLY VIEWS</h3>
                </div>
              </div>
              <div class="col-md-4 p-3">
                <div class="row">
                  <h2><i class="fa fa-link" aria-hidden="true"></i> {{rattingvalue | number}}/10</h2>
                  <h3 class="text-center fw-bold">NEW MONTHLY SUBSCRIBERS</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-0 my-5 bigest ">
  <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
      <h1 class="hedding">Hey! I am <span class="text">GURMEET</span></h1>
      <h1 class="display-4 fw-bold lh-1">UI/UX <span class="text">DESIGENR</span></h1>
      <h3 class="display-4 fw-bold id">&,Mean Stack Devloper</h3>
      <p class="pr">Drag & drop page building for Angular
        Stop drowning in a backlog of requests to create, edit, and manage content. Adopt a better, simpler, and more
        component-driven approach to your angular application.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
        <a class="btn btn-primary" href="../../../layout/image/GURMEET RESUME.pdf" download>Download My CV <i
            class="fa fa-download" aria-hidden="true"></i> </a>
      </div>
      <div class="container g-0">
        <div class="row text-center mt-5 mb-5 gx-0"
          style="box-shadow: rgba(223, 223, 223, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;">

          <h1 class="fw-bold mt-5 mb-4">INDIA'S MOST LOVED CODING COMMUNITY ❤️</h1>
          <div class="col-md-4 p-3">
            <div class="row justify-content-center">
              <h2><i class="fa fa-users" aria-hidden="true"></i> {{ count | number }}+k</h2>
              <h3 class="text-center fw-bold">HAPPY EMPLOYEE</h3>
            </div>
          </div>
          <div class="col-md-4 p-3">
            <div class="row justify-content-center">
              <h2><i class="fa fa-heart" aria-hidden="true"></i>{{count1 | number}}+k</h2>
              <h3 class="text-center fw-bold">MONTHLY VIEWS</h3>
            </div>
          </div>
          <div class="col-md-4 p-3">
            <div class="row">
              <h2><i class="fa fa-link" aria-hidden="true"></i> {{rattingvalue | number}}/10</h2>
              <h3 class="text-center fw-bold">NEW MONTHLY SUBSCRIBERS</h3>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg"
      style="clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 100%, 70% 100%, 30% 100%, 0 100%, 0% 30%);">
      <img class="rounded-lg-3 image" src="../../../.././assets/image/photo_2023-12-16_17-51-51-removebg-preview.png"
        alt="" width="700" height="450px">
    </div>
  </div>
</div>
<!-----------------------website statement--------------------->

<div class="container-fluid mb-4">
  <div class="row align-items-center justify-content-md-start">
    <div class="row text-center m-0 ">
      <h1 class="fw-bold">MY-COMPRIHENSIVE SERVICES & DEVELOPMENT CODE</h1>
      <div class="col-lg-12 col-md-4">
        <section class="service-grid pb-5 pt-5">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-md-6 text-center mb-3">
                <div class="service-wrap">
                  <div class="service-icon">
                    <i class="fa fa-code" aria-hidden="true"></i>
                  </div>
                  <h4>Web Application's</h4>
                  <p>Our team of experts builds intelligent websites that actually perform & exceed your expectations.
                    We offer completely customized interactive web solutions.</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 text-center mb-3">
                <div class="service-wrap">
                  <div class="service-icon">
                    <div class="col-3"><img
                        src="https://www.vlrtraining.in/wp-content/uploads/2020/10/logo-digital-Marketing.png"
                        class="img-fluid" alt=""></div>
                  </div>
                  <h4>Digital Marketing</h4>
                  <p>Our dynamic digital experts execute effective internet marketing solutions based on your business
                    targets. With 100% customized tactics & focused website promotion strategy.</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 text-center mb-3">
                <div class="service-wrap">
                  <div class="service-icon">
                    <i class="fa fa-database"></i>
                  </div>
                  <h4>RESPONSIVE DESIGN</h4>
                  <p>Bringing your ideas to live, website designs are our forte. We carve perfect designs to build
                    creative websites that engage users on both desktop & mobile devices with its ultra-modern..</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 text-center mb-3">
                <div class="service-wrap">
                  <div class="service-icon">
                    <i class="fa fa-cogs"></i>
                  </div>
                  <h4>SOFTWARE DEVELOPMENT</h4>
                  <p>Star Web Maker Services Pvt.Ltd has evolved as a true professional software company after
                    successfully completing numerous client projects. We develop solutions that best meet business.</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 text-center mb-3">
                <div class="service-wrap">
                  <div class="service-icon">
                    <div class="col-3"><img
                        src="https://cdn.cultofmac.com/wp-content/uploads/2015/09/app_store_logo001.jpg"
                        class="img-fluid" alt=""></div>
                  </div>
                  <h4>MOBILE APP</h4>
                  <p>We build interactive mobile apps to extend your reach to potential customers & maximize
                    conversions. Our platform apps designed for the iPhone, Blackberry, Android etc..</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 text-center mb-3">
                <div class="service-wrap">
                  <div class="service-icon">
                    <i class="fa fa-thumbs-up"></i>
                  </div>
                  <h4>ECOMMERCE SOLUTIONS</h4>
                  <p>Our eCommerce solutions are the most effective online selling tools due to intuitively designed UI,
                    fast loading speed & one step checkout that gives an exclusive shopping experience.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <h1 class="fw-bold text-center">Subscribe to <span class="text-danger">' Our News letter</span></h1>
    <p class="fs-bold m-0 text-center fs-6 mb-2 mt-2">Stay updated with our latest news and promotions.</p>
    <form [formGroup]="subscribe" (ngSubmit)="submit()" class="needs-validation col-lg-6 col-md-4 mt-1">
      <div class="input-group has-validation">
        <button type="submit" class="btn btnsub me-1">Subscribe</button>
        <input type="text" class="form-control" placeholder="subscribe" formControlName="subscribe" />
      </div>
    </form>
  </div>
</div>