<!-- End Hero -->


<!-- 
<div class="container-fluid clip-img">
  <div class="row clip-path bg-info">
   <div class="col-lg-8 col-md-8 text-center text-content">
   <div class="content">
     <h1 class="text-white">hello</h1>
   </div>
   </div>
  </div>
</div> -->


<div class="container my-5 ">
  <!--Section: Content-->
  <section class="dark-grey-text">
    <div class="row pr-lg-5">
      <div class="col-md-7 mb-4">
        <div class="view">
          <img src="https://mdbootstrap.com/img/illustrations/graphics(4).png" class="img-fluid headimage"
            alt="smaple image">
        </div>

      </div>
      <div class="col-md-5 d-flex align-items-center">
        <div>

          <h1 class="font-weight-bold mb-4 fs-2">Material Design Blocks</h1>

          <p>Our custom website design & development company turns your ideas into reality. It is our core competency
            and we focus on providing robust solutions that meet clients’ needs and fulfills all the business
            requirements. Whether it’s about third-party API integration or custom business applications, our developers
            are apt at providing tailored solutions.</p>

          <button type="button" class="btn btn-info btn-rounded mx-0">Download</button>

        </div>
      </div>
    </div>

  </section>
  <!--Section: Content-->
</div>

<div class="container my-5 py-5 z-depth-1">

  <!--Section: Content-->
  <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">

    <h1 class="font-weight-bold fs-2 mb-2 Tittle_team p-2 text-white mb-3">Why is it so great?</h1>
    <p class="text-muted mb-5">Code-life's mobile app development services deliver high-performing, digitally
      transformative, and feature-oriented mobile applications that fulfill customer demands. We assist global brands in
      designing and building top-notch digital products, enabling seamless user experiences across all modern platforms
      and devices. Having delivered 300+ mobile app development projects so far, we ensure app success by providing
      appealing UI, secure app code, and resilient back ends. Let us transform your vision into a seamless, user-centric
      mobile experience.


    </p>

    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-3 col-md-12 mb-lg-0 mb-4">

        <img src="https://mdbootstrap.com/img/Others/cards.png" class="img-fluid" alt="">

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-6 mb-lg-0 mb-lg-0 mb-2">

        <h4 class="h4">Why is it so great?</h4>

        <p class="text-muted">Growing professionally is something that interests both you and your potential employer
          (you want a successful career, while they want productive employees), which makes this a win-win answer for
          everyone involved. </p>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 text-center">

        <a class="btn btn-outline-info btn-md waves-effect me-2" href="#" role="button">Take a Tour</a>
        <a class="btn btn-info btn-md mt-2" href="#" role="button">Start now<i class="fa fa-magic ml-1"></i></a>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </section>
  <!--Section: Content-->

</div>

<div class="container my-5 p-5 z-depth-1">
  <!--Section: Content-->
  <section class="text-center dark-grey-text">

    <h1 class="font-weight-bold text-center text-white text-uppercase small mb-4 Tittle_team">Team</h1>
    <!-- Section heading -->
    <h3 class="font-weight-bold text-center dark-grey-text pb-2 fs-4">Executive Team</h3>
    <hr class="w-header my-4">
    <!-- Section description -->
    <p class="text-center text-muted w-responsive mx-auto mb-5">Enim ad minim exercitation ullamco laboris nisi ut ex
      aliquip.</p>

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mb-4">
        <div class="view z-depth-1 mb-4 Tittle_team">
          <img src="../../../../assets/image/gurmeet.jpg.jpg" class="mx-auto Team_image" height="250px"
            alt="smaple image">
        </div>
        <h3 class="font-weight-bold">GURMEET KUMAR</h3>
        <small class="text-muted">Co-funder & CEO</small>
        <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0 text-muted">
          <li><a href=""><i class="fa fa-twitter mx-2 fs-6"></i></a></li>
          <li><a href=""><i class="fa fa-facebook-f mx-2 fs-6"></i></a></li>
          <li><a href=""><i class="fa fa-instagram mx-2 fs-6"></i></a></li>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-4">

        <div class="view z-depth-1 mb-4 Tittle_team">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg " class="img-fluid mx-auto"
            alt="smaple image">
        </div>
        <h3 class="font-weight-bold">AJEET CHAURASIYA</h3>
        <small class="text-muted">SOFTWARE DEVELOPER</small>
        <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0 text-muted">
          <li><a href=""><i class="fa fa-twitter mx-2 fs-6"></i></a></li>
          <li><a href=""><i class="fa fa-facebook-f mx-2 fs-6"></i></a></li>
          <li><a href=""><i class="fa fa-instagram mx-2 fs-6"></i></a></li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-4">

        <div class="view z-depth-1 mb-4 Tittle_team">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(18).jpg" class="img-fluid mx-auto"
            alt="smaple image">
        </div>
        <h3 class="font-weight-bold">DHEERAJ KUMAR </h3>
        <small class="text-muted">MAEN STACK-DEVELOPER</small>
        <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0 text-muted">
          <li><a href=""><i class="fa fa-twitter mx-2 fs-6"></i></a></li>
          <li><a href=""><i class="fa fa-facebook-f mx-2 fs-6"></i></a></li>
          <li><a href=""><i class="fa fa-instagram mx-2 fs-6"></i></a></li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-4">

        <div class="view z-depth-1 mb-4 Tittle_team">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg" class="img-fluid mx-auto"
            alt="smaple image">
        </div>
        <h3 class="font-weight-bold">---------</h3>
        <small class="text-muted">WEB-DESIGNING & DEVELOPMENT</small>
        <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0 text-muted">
          <li><a href=""><i class="fa fa-twitter mx-2 fs-6"></i></a></li>
          <li><a href=""><i class="fa fa-facebook-f mx-2 fs-6"></i></a></li>
          <li><a href=""><i class="fa fa-instagram mx-2 fs-6"></i></a></li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </section>
  <!--Section: Content-->


</div>