<!-- Footer -->
<footer class="text-center text-lg-start text-white" style="background-color: #1c2331">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-between p-4" style="background-color: #6351ce">
        <!-- Left -->
        <div class="me-5 footertilttel">
            <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->
        <!-- Right -->
        <div class="userful">
            <a href="https://www.facebook.com/gurmeet.kumar.1675275" class="text-white me-4" target="_blank">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="https://www.google.co.in/" class="text-white me-4">
                <i class="fa fa-google"></i>
            </a>
            <a href="https://www.instagram.com/gurmeet_parjapati_096/" class="text-white me-4"target="_blank">
                <i class="fa fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/gurmeet-prjapati-1099a8257/" class="text-white me-4">
                <i class="fa fa-linkedin"></i>
            </a>
            <a href="https://github.com/gurmeetparjapti" class="text-white me-4">
                <i class="fa fa-github"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold fs-5">{{foothead}}</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 150px; background-color: #7c4dff; height: 2px" />
                    <p>
                        Code review helps developers learn the code base, as well as help them learn new technologies
                        and
                        techniques that grow their skill sets.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 Products">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold">My service</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: #7c4dff; height: 2px" />
                    <p>
                        <a  class="text-white"><i class="fa fa-chevron-right" aria-hidden="true"></i>
                            Responsive
                            Website's</a>
                    </p>
                    <p>
                        <a  class="text-white"><i class="fa fa-chevron-right" aria-hidden="true"></i>
                            Mobile-app</a>
                    </p>
                    <p>
                        <a  class="text-white"><i class="fa fa-chevron-right" aria-hidden="true"></i> Angular
                            Website</a>
                    </p>
                    <p>
                        <a  class="text-white"><i class="fa fa-chevron-right" aria-hidden="true"></i> Software
                            Angular</a>
                    </p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 userful">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold">My dhasborad </h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: #7c4dff; height: 2px" />
                    <p>
                        <a  class="text-white" [routerLink]="['/dashboard']"><i class="fa fa-chevron-right" aria-hidden="true"></i>
                            Landingpage</a>
                    </p>
                    <p>
                        <a  class="text-white" [routerLink]="['/']"><i class="fa fa-chevron-right" aria-hidden="true"></i>
                            Indexpage</a>
                    </p>
                    <p>
                        <a  class="text-white" [routerLink]="['/auth']" ><i class="fa fa-chevron-right" aria-hidden="true"></i>
                            Authpage</a>
                    </p>
                    <p>
                        <a  class="text-white" [routerLink]="['/dashboard/landingpage/carrer']"><i class="fa fa-chevron-right" aria-hidden="true"></i> Carrer</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold">Help</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: #7c4dff; height: 2px" />
                    <p><i class="fa fa-home mr-3"></i> New York, NY 10012, US</p>
                    <p><i class="fa fa-envelope mr-3"></i> kumargurmeet@gmail.com.com</p>
                    <p><i class="fa fa-phone mr-3"></i> +91 730 3505 699</p>
                    <p><i class="fa fa-print mr-3"></i> +01 234 567 89</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2020 Copyright:
        <a class="text-white" href="/">Code Technology.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
<!-- End of .container -->