<section id="hero" class="d-flex justify-cntent-center align-items-center">
  <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

    <!-- Slide 1 -->
    <div class="carousel-item active">
      <div class="carousel-container">
        <h2 class="animate__animated animate__fadeInDown">Web-development <span class="text-info">Code-life</span></h2>
        <p class="animate__animated animate__fadeInUp">There is no room for boring web pages anymore! It’s time to delve
          into responsive web design to provide your customers experience that is flexible and fluidic on different
          devices. We will make this possible with our exemplary web design services.</p>
        <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
      </div>
    </div>

    <!-- Slide 2 -->
    <div class="carousel-item">
      <div class="carousel-container">
        <h2 class="animate__animated animate__fadeInDown">Software_development <span class="text-info">Code-life</span>
        </h2>
        <p class="animate__animated animate__fadeInUp"> mobile app development services deliver high-performing,
          digitally transformative, and feature-oriented mobile applications that fulfill customer demands.</p>
        <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
      </div>
    </div>

    <!-- Slide 3 -->
    <div class="carousel-item">
      <div class="carousel-container">
        <h2 class="animate__animated animate__fadeInDown">Hosting/Domain <span class="text-info">Code-life</span></h2>
        <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et
          est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse
          doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
        <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
      </div>
    </div>

    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
    </a>

    <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
    </a>

  </div>
</section>

<div class="body">

  <div class="container-fluid">
    <div class="row bg-light shadow">
      <div class="col-xl-6 col-md-6 p-2 my-3 text-start px-lg-5">
        <div class="mb-4 text-dark p-4 ">
          <h1 class="title fw-bold">Get Ready with <span class="text-danger"> <br>Code-life</span> Developer's</h1>
          <p class="text-start text-start p-lh">Multiple lines of text that form the lede, informing new readers quickly and
            efficiently about what’s most interesting in this post’s contents.</p>
          <p class="mb-0 btn btn-primary"><a routerLink="./login" class="text-white fw-bold">Continue reading...</a></p>
        </div>
      </div>
      <div class="col-xl-4 col-md-4 p-4 mx-auto">
        <div class="row justify-content-center">
          <div class="borders p-2">
            <video   autoplay width="350px"
              src="../../../../assets/image/pexels-tima-miroshnichenko-5377682 (2160p).mp4">
            </video>
          </div>
          <div class="lapbottom m-0">
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="container g-0">
    <div class="row text-center mt-5 mb-5 gx-0"
      style="box-shadow: rgba(223, 223, 223, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;">
      
      <h1 class="fw-bold mt-5 mb-4">INDIA'S MOST LOVED CODING COMMUNITY ❤️</h1>
      <div class="col-md-4 p-3">
        <div class="row justify-content-center">
          <h1><i class="fa fa-users" aria-hidden="true"></i> 40,000+</h1>
          <h3 class="text-center fw-bold">HAPPY EMPLOYEE</h3>
        </div>
      </div>
      <div class="col-md-4 p-3">
        <div class="row justify-content-center">
          <h1><i class="fa fa-heart" aria-hidden="true"></i> 3000+</h1>
          <h3 class="text-center fw-bold">MONTHLY VIEWS</h3>
        </div>
      </div>
      <div class="col-md-4 p-3">
        <div class="row">
          <h1><i class="fa fa-link" aria-hidden="true"></i> 100,000+</h1>
          <h3 class="text-center fw-bold">NEW MONTHLY SUBSCRIBERS</h3>
        </div>
      </div>
    </div>
  </div>
  
 
  <div class="container-fluid my-5 p-5 z-depth-1 bg-white">


    <!--Section: Content-->
    <section class="dark-grey-text">
  
      <!-- Section heading -->
      <h1 class="text-center fw-bold mb-4 pb-2">Why is it so great?</h1>
      <!-- Section description -->
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-lg-5 text-center text-lg-left">
          <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/screens-section.jpg" alt="Sample image">
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-lg-7">
  
          <!-- Grid row -->
          <div class="row mb-3">
  
            <!-- Grid column -->
            <div class="col-1">
              <i class="fa fa-share fa-lg indigo-text"></i>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-xl-10 col-md-11 col-10">
              <h3 class="fw-bold mb-2">Safety</h3>
              <p class="grey-text">We believe in investing in our relationships with our clients. It helps us stand out of the crowd and offer top-notch services to businesses. Our team of developers gives attention to every minute requirement of the client to come up with the best solutions.</p>
            </div>
            <!-- Grid column -->
  
          </div>
          <!-- Grid row -->
  
          <!-- Grid row -->
          <div class="row mb-3">
  
            <!-- Grid column -->
            <div class="col-1">
              <i class="fa fa-share fa-lg indigo-text"></i>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-xl-10 col-md-11 col-10">
              <h3 class="fw-bold mb-2">Technology</h3>
              <p class="grey-text">We hold a prestigious position in the industry for helping businesses to grow and expand in no time. We are backed by a team of talented and skilled professionals capable of delivering the best solution in the industry..</p>
            </div>
            <!-- Grid column -->
  
          </div>
          <!-- Grid row -->
          <!--Grid row-->
          <div class="row">
  
            <!-- Grid column -->
            <div class="col-1">
              <i class="fa fa-share fa-lg indigo-text"></i>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-xl-10 col-md-11 col-10">
              <h3 class="fw-bold mb-2">Finance</h3>
              <p class="grey-text mb-0">In order to help your business grow while utilizing the full potential of advanced technology, we offer unrivaled services under the supervision of industry experts.</p>
            </div>
            <!-- Grid column -->
  
          </div>
          <!--Grid row-->
  
        </div>
        <!--Grid column-->
  
      </div>
      <!-- Grid row -->
  
    </section>
    <!--Section: Content-->
  
  
  </div>

</div>
