<div class="container-fluid">
    <div class="row">
      <header class="p-3 mb-3 border-bottom bg-white headerTeam">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
              <img src="../../../../assets/image/d862860d-3f6c-41c2-a690-f60bebe6d7a1 logo.jpeg" height="40px" alt="">
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="" class="nav-link px-2 link-dark">Overview</a></li>
              <li><a routerLink="service" class="nav-link px-2 link-dark">Services</a></li>
              <li><a [routerLink]="['teampage']" class="nav-link px-2 link-dark">Teamonlogies</a></li>
              <li><a href="#" class="nav-link px-2 link-dark">Products</a></li>
            </ul>
            <form class="d-none d-lg-block">
              <button class="btn btn-success p-1" routerLink="../auth">login</button>
            </form>
          </div>
        </div>
      </header>
    </div>
  </div>