<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-caption text-start">
        <div class="col-lg-8 col-md-4 content">
          <h1 class="display-4 fw-bold fs-3">Web-devlopment</h1>
          <p class="col-lg-8">Web development is a dynamic field, and developers often need to stay updated with the
            latest technologies and best practices.</p>
            <br>
          <button class="btn btn-success badge">Start Now</button>
        </div>
      </div>
      <img src="https://source.unsplash.com/2080x850/?code,codeing" height="450px" class="d-block w-100 img-fluid"
        alt="...">
    </div>
    <div class="carousel-item">
      <div class="carousel-caption text-start">
        <div class="col-lg-8 col-md-4 content">
          <h1 class="display-4 fw-bold fs-3">App-devlopment</h1>
          <p class="col-lg-8">App-development is a dynamic field, and developers often need to stay updated with the
            latest technologies and best practices.</p>
            <br>
          <button class="btn btn-success badge">Start Now</button>
        </div>
      </div>
      <img src="https://source.unsplash.com/2080x850/?office" class="d-block w-100 img-fluid" height="450px" alt="...">
    </div>
    <div class="carousel-item">
      <div class="carousel-caption text-start ">
        <div class="col-lg-8 col-md-4 content">
          <h1 class="display-4 fw-bold fs-3">AI/DIGITAL-MARKETING</h1>
          <p class="col-lg-8">DIGITAL-MARKETING  is a dynamic field, and developers often need to stay updated with the
            latest technologies and best practices.</p>
            <br>
          <button class="btn btn-danger badge">Start Now</button>
        </div>
      </div>
      <img src="https://source.unsplash.com/2080x850/?office,office" class="d-block w-100 img-fluid" alt="..."
        height="450px">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="visually-hidden">Next</span>

  </button>
</div>

<div class="container p-3">
  <div class="row">
    <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary-emphasis" data-mdb-tooltip-init
              title="Hi! this is profile">Web-devlopment</strong>
            <h3 class="mb-0">Global Coding Confrence</h3>
            <div class="mb-1 text-body-secondary">Nov 12</div>
            <p class="card-text mb-auto">Web development is a broad field that encompasses various technologies and
              skills. Here's a brief overview to help you get started:</p>
            <a href="https://en.wikipedia.org/wiki/Web_development"
              class="icon-link gap-1 icon-link-hover stretched-link">
              Continue reading
              <svg class="bi">
                <use xlink:href="https://en.wikipedia.org/wiki/Web_development"></use>
              </svg>
            </a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="https://source.unsplash.com/500x500/?code,Angular" height="250px" width="200px" w alt="">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success-emphasis">Mean stack-developer</strong>
            <h3 class="mb-0">Learn Designing</h3>
            <div class="mb-1 text-body-secondary">Nov 11</div>
            <p class="mb-auto">Provide a brief introduction to your application and highlight its main features.
              Explain how your MEAN stack application stands out from others.</p>
            <a href="https://en.wikipedia.org/wiki/MEAN_(solution_stack)"
              class="icon-link gap-1 icon-link-hover stretched-link">
              Continue reading
              <svg class="bi">
                <use xlink:href="https://en.wikipedia.org/wiki/MEAN_(solution_stack)"></use>
              </svg>
            </a>
          </div>
          <div class="col-auto d-none d-lg-block" data-aos="flip-left">
            <img src="https://source.unsplash.com/500x500/?code,hacker" height="250" width="200px" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary-emphasis">Cyber-securit</strong>
            <h3 class="mb-0">Global Server-Side Confrence</h3>
            <div class="mb-1 text-body-secondary">Dec 19</div>
            <p class="card-text mb-auto">Restricting access to systems and data based on user roles and permissions.
              Firewalls:
              Implementing firewalls to control and monitor network traffic.</p>
            <a href="https://en.wikipedia.org/wiki/Computer_security"
              class="icon-link gap-1 icon-link-hover stretched-link">
              Continue reading
              <svg class="bi">
                <use xlink:href="https://en.wikipedia.org/wiki/Computer_security"></use>
              </svg>
            </a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img
              src="https://th.bing.com/th?id=OSK.HEROmTrpTzO9mdmpPEAmR8vfcdUyQx14WNXuStP_7J9AR3A&w=472&h=280&c=1&rs=2&o=6&pid=SANGAM"
              height="250px" width="200px" w alt="">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success-emphasis">Angular development</strong>
            <h3 class="mb-0">Learn Designing</h3>
            <div class="mb-1 text-body-secondary">Nov 14</div>
            <p class="mb-auto">Developed and maintained by Google.<a href="#" class="m-0">HTML</a>-based templates that
              define the structure of the user interface.
              Used for building single-page applications (SPAs) and dynamic web pages.</p>
            <a href="https://en.wikipedia.org/wiki/Angular_(web_framework)"
              class="icon-link gap-1 icon-link-hover stretched-link">
              Continue reading
              <svg class="bi">
                <use xlink:href="https://en.wikipedia.org/wiki/Angular_(web_framework)"></use>
              </svg>
            </a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="https://cdn3.vectorstock.com/i/1000x1000/41/12/programming-and-coding-vector-6214112.jpg"
              height="250" width="200px" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!---------------------marketing page---------------->
<div class="container">
  <div class="row p-3">
    <div class="container marketing">
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-6 p-5">
          <h2 class="featurette-heading fw-normal lh-1">API Documentation:- <span class="text-body-secondary">It’ll blow
              your mind.</span></h2>
          <p>If your application has a <a href="https://aws.amazon.com/what-is/restful-api/">RESTful API,</a> document
            the endpoints, request methods, and expected responses.
            Consider using tools like Swagger/OpenAPI for automatic <a
              href="https://aws.amazon.com/what-is/restful-api/">API</a> documentation.</p>
          <p>Developed by <a href="https://www.google.com">Google</a>. A comprehensive front-end framework.</p>
          <p>Develop and consume APIs for communication between the front-end and back-end.</p>
        </div>
        <div class="col-md-4 ol-lg-4">
          <img src="https://source.unsplash.com/500x400/?office,furniture" class="img-fluid" alt="">
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-6 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1">Server-Side ( <a href="http://expressjs.com/">Node.js and
              Express</a>)<span class="text-body-secondary">See for yourself.</span></h2>
          <p>Explain the server-side architecture using Node.js and Express.
            Describe how routes, middleware, and controllers are organized.</p>
          <p>Full-stack developers work on both the client and server sides of an application.</p>
          <p>Allows server-side scripting using JavaScript.</p>
          <p>Often used with frameworks like Express.js.</p>
        </div>
        <div class="col-md-4 col-lg-4 order-md-1">
          <img src="https://source.unsplash.com/500x400/?code,itcompany" class="img-fluid" alt="">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette ">
        <div class="col-md-6">
          <h2 class="featurette-heading fw-normal lh-1"> <a href="https://en.wikipedia.org/wiki/Authentication" mat-raised-button
            matTooltip="Info about the action"
            aria-label="Button that displays a tooltip when focused or hovered over">Authentication and Authorization:- </a><span
              class="text-body-secondary">Checkmate.</span></h2>
          <p>If your application involves user accounts, explain how users can register, log in, and manage their
            accounts.
            Describe any roles or permissions that users might have.</p>
          <p>Package Managers (e.g., npm, yarn): Manage project dependencies.</p>
          <p>Responsive Design: Ensures websites work on various devices and screen sizes.</p>
          <p>Web Accessibility (a11y): Ensures websites are usable by people with disabilities.</p>
          <p> Security Best Practices: Protect against common web vulnerabilities.</p>
            
        </div>
        <div class="col-md-4 col-lg-4">
          <img src="https://source.unsplash.com/500x400/?code,codeing" class="img-fluid" alt="">
        </div>
      </div>
      <hr class="featurette-divider">
    </div>
  </div>
</div>
