mat-card{
    margin: 2%;
    text-align: left;
}
.mat-mdc-form-feild{
    width: 100%;
    margin: 1%;
}
.mat-50{
    width: 100%;
    margin: 1%;
}
*{
    overflow: hidden;
}
form{
    background-color: rgb(131, 208, 243);
}