<section class="section main-banner" id="top" data-section="section1">
    <video autoplay muted loop id="bg-video">
        <source src="../../../../assets/image/course-video.mp4" type="video/mp4" />
    </video>

    <div class="video-overlay header-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 p-4">
                    <div class="caption">
                        <h1 class="text-info fs-2 fw-bold"><Span class="text-white">Hello</Span> Developer's</h1>
                        <h2>Welcome to Codelife Technologies</h2>
                        <p class="lh-lg "> Code-Life Technologies is your go-to partner for creating amazing UI-UX solutions, whether you're a startup hoping to build a name for yourself or an established company looking to increase user engagement. <a rel="nofollow" href="" target="_blank">Pressmaster</a>.</p>
                        <button class="btun col-4" [routerLink]="['../join']">Join Us Now!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container-fluid">
    <div class="row text-center p-3 mt-4">
        <h1 class="fw-bold fs-1 ">"Explore Opportunities"</h1>
        <hr class=" mt-2 align-items-center">
        <p class="fs-6 lh-lg">What’s destination next? Is it better technology? A better you? Or a better community of makers? Wherever you desire to go, we give you the tools, the techniques, and the teams to navigate the journey. So you’re inspired to build what’s next, ensure your career never stands still, and navigate further together. Move forward. Take the world with you.</p>
    </div>
</div>
<div class="container-fluid">
    <div class="row p-4 justify-content-center">
        <div class="col-lg-4 col-md-4 p-3 mt-2">
            <ul class="list-group">
                <li class="list-group-item d-flex fw-bold text-center bg-primary">
                    MY-SERVICE-SKILL
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Angular cli
                    <span class="badge bg-primary rounded-pill">500+</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    React Developer
                    <span class="badge bg-primary rounded-pill">1500+</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Wordpress-Development
                    <span class="badge bg-primary rounded-pill">100+</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Beckend-Developer
                    <span class="badge bg-primary rounded-pill">200+</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    UI/UX Desigening
                    <span class="badge bg-primary rounded-pill">120+</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Node/Express js
                    <span class="badge bg-primary rounded-pill">100+</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Hosttig/Domain
                    <span class="badge bg-primary rounded-pill">120+</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Github/Gitbase
                    <span class="badge bg-primary rounded-pill">100+</span>
                </li>
            </ul>
        </div>
        <div class="col-lg-8 col-md-4 p-4">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="card-img-top"
                            src="https://th.bing.com/th/id/OIP.qmiB0BOuhQOAtDcEW3wDsQHaHa?rs=1&pid=ImgDetMain"
                            class="img-fluid rounded" width="100%" height="225" />
                        <div class="card-body m-0">
                            <h2>Node js developer</h2>
                            <h3 class="text-primary m-0">Codelife_Technology</h3>
                            <hr class="w-6">
                            <P>Ex: 0-2 year</P>
                            <div class="d-flex justify-content-between align-items-center">
                                <button class="badge bg-primary p-2" [routerLink]="['../join']">Apply here</button>
                                <small class="text-muted">1 day ago</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img class="card-img-top"
                            src="https://th.bing.com/th/id/OIP.Ca8m7_pPKZlmP5bgC7UfCgHaH0?rs=1&pid=ImgDetMain"
                            class="img-fluid p-2" width="100%" height="225" />

                        <div class="card-body">
                            <h2>Angular Cli developer</h2>
                            <h3 class="text-primary m-0">Codelife_Technology</h3>
                            <hr class="w-6">
                            <P>Ex: 0-5 year</P>
                            <div class="d-flex justify-content-between align-items-center">
                                <button class="badge bg-primary p-2" [routerLink]="['../join']">Apply here</button>
                                <small class="text-muted">3 day ago</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">

    </div>
</div>

